<form [formGroup]="orderLineForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Quantité</mat-label>
    <input matInput id="quantity" formControlName="quantity" type="number" min="1">
    @if (hasError(orderLineForm.controls['quantity'])) {
      @if (orderLineForm.controls['quantity'].errors?.['required']) {
        <mat-error>La quantité est obligatoire</mat-error>
      }
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Article</mat-label>
    <mat-select formControlName="product" required [compareWith]="compareProductFn">
      @for (product of products; track product.id) {
        <mat-option [value]="product">{{ product.name }}</mat-option>
      }
    </mat-select>
    @if (hasError(orderLineForm.controls['product'])) {
      @if (orderLineForm.controls['product'].errors?.['required']) {
        <mat-error>L'article est obligatoire</mat-error>
      }
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prix unitaire</mat-label>
    <input matInput id="price" formControlName="unitaryPrice" type="number" min="0">
    @if (hasError(orderLineForm.controls['unitaryPrice'])) {
      @if (orderLineForm.controls['unitaryPrice'].errors?.['required']) {
        <mat-error>Le prix est obligatoire</mat-error>
      }
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
</form>
