<a id="new-order-link" mat-flat-button color="primary" routerLink="/commandes/nouvelle">Nouvelle commande</a>

<table mat-table [dataSource]="orders" class="mat-elevation-z8">
  <caption class="cdk-visually-hidden">Liste des commandes</caption>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> N°</th>
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/commandes', element.id]">{{ element.id }}</a></td>
  </ng-container>

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef> Client</th>
    <td mat-cell *matCellDef="let element"> {{ element.client }}</td>
  </ng-container>

  <ng-container matColumnDef="deliveryDate">
    <th mat-header-cell *matHeaderCellDef> Date de Livraison </th>
    <td mat-cell *matCellDef="let element"> {{ element.deliveryDate | date:'fullDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="totalHt">
    <th mat-header-cell *matHeaderCellDef> Total Hors taxes</th>
    <td mat-cell *matCellDef="let element"> {{ element.totalHt | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><a mat-button [routerLink]="['/commandes', element.id]">Détail</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p *ngIf="orders.length ===0">Aucune commande.</p>
