a#home-link > img {
  height: 3em;
}

mat-toolbar > nav > ul {
  list-style-type: none;
}

.active-button {
  text-decoration: underline;
  opacity: 0.8;
  border: 3px dotted;
}

main {
  margin: 3em;
  text-align: center;
}
