<mat-toolbar>
  <h1><a id="home-link" routerLink="/"><img src="assets/logo-primeale.svg" alt=""><span
    class="cdk-visually-hidden">Priméale</span></a></h1>
  <nav>
    <ul>
      <li><a id="orders-link" routerLink="/commandes" routerLinkActive="active-button"
             ariaCurrentWhenActive="page" mat-button>Commandes</a></li>
    </ul>
  </nav>
</mat-toolbar>
<main>
  <router-outlet />
  <app-loading-indicator />
</main>
