form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
}

#submit-order {
  margin-top: 2em;
}
