<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Client</mat-label>
    <textarea rows="4" matInput formControlName="client"></textarea>
    @if (hasError(orderForm.controls['client'])) {
      @if (orderForm.controls['client'].errors?.['required']) {
        <mat-error>Le client est obligatoire</mat-error>
      }
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date de livraison</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deliveryDate">
    <mat-hint>MM/JJ/AAAA</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (hasError(orderForm.controls['deliveryDate'])) {
      @if (orderForm.controls['deliveryDate'].errors?.['required']) {
        <mat-error>La date de livraison est obligatoire</mat-error>
      }
    }
  </mat-form-field>
  <button id="submit-order" color="primary" mat-button mat-raised-button type="submit">Sauvegarder
  </button>
</form>
