<div class="head">
  <h2>Commande N° {{ order.id | number }}</h2>
  <a id="edit-order-link" mat-button [routerLink]="['/commandes', order.id, 'modifier']">Modifier</a>
  <button id="delete-order-button" color="warn" mat-button (click)="deleteOrder()">Supprimer</button>
</div>


<table id="table-info" class="mat-elevation-z4">
  <caption class="cdk-visually-hidden">information de la commande</caption>
  <tr>
    <th>Date de livraison</th>
    <td>{{ order.deliveryDate | date:'fullDate' }}</td>
  </tr>
  <tr>
    <th>Client</th>
    <td [innerText]="order.client"></td>
  </tr>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <caption class="cdk-visually-hidden">Liste des articles</caption>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Description</th>
    <td mat-cell *matCellDef="let element"> {{ element.product.name }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantité</th>
    <td mat-cell *matCellDef="let element"> {{ element.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="unitaryPrice">
    <th mat-header-cell *matHeaderCellDef> Prix unitaire</th>
    <td mat-cell *matCellDef="let element"> {{ element.unitaryPrice | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="totalHt">
    <th mat-header-cell *matHeaderCellDef> Total Hors taxes</th>
    <td mat-cell *matCellDef="let element"> {{ element.quantity * element.unitaryPrice | currency }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a mat-button [routerLink]="['modifier-article', element.id]">Modifier</a>
      <button mat-button type="button" color="warn" (click)="removeOrderLine(element)">Supprimer</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p *ngIf="dataSource.length ===0">Aucun article commandé.</p>
<a id="add-order-line-link" mat-flat-button color="accent" [routerLink]="['/commandes', order.id, 'ajouter-article']">Ajouter
  une ligne d’article commandé</a>

<table id="table-total" class="mat-elevation-z8">
  <caption class="cdk-visually-hidden">totaux</caption>
  <tr>
    <th>Total hors-TVA</th>
    <td>{{ order.totalHt | currency }}</td>
  </tr>
  <tr>
    <th>Total TVA 5,5%</th>
    <td>{{ order.totalTva55 | currency }}</td>
  </tr>
  <tr>
    <th>Total TVA 20%</th>
    <td>{{ order.totalTva20 | currency }}</td>
  </tr>
  <tr>
    <th>Total CNIPT</th>
    <td>{{ order.totalCnipt | currency }}</td>
  </tr>
  <tr>
    <th>Total TTC</th>
    <td>{{ order.totalTtc | currency }}</td>
  </tr>
</table>
