div.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

table#table-info {
  padding: 1em;
  margin: 2em auto;
}

table#table-info th {
  text-align: left;
  vertical-align: top;
}

table#table-total {
  margin-top: 2em;
  margin-left: auto;
  padding: 1em;
}

table#table-info tr th, table#table-total tr th {
  padding-right: 2em;
  text-align: right;
}

table tr td {
  text-align: left;
}


a#add-order-line-link {
  margin-top: 1em;
  float: left;
}
