/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div#app-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg#app-loader {
  height: 50vh;
  width: 50vw;
  opacity: 1;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  from { opacity: 0 }
  100% { opacity: 1 }
}

#app-loader .leaf {
  transform-box: fill-box;
  transform-origin: center;
  animation: animate-primeale-logo-leaf 1.5s ease-in-out infinite both;
}

@keyframes animate-primeale-logo-leaf {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}


